@import '../node_modules/bulma/sass/utilities/initial-variables.sass'

$primary: $blue

@import '../node_modules/bulma/bulma.sass'

.clearfix
  clear: both

.remove-todo
  display: none
  position: absolute
  margin-top: 5px
  right: 25px
  &:hover
    cursor: pointer

.todo:hover
  .remove-todo
    display: inline-flex
